.c_img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 36%;
    left: 34%;
    border: 3px solid #fff;
}
.card-body{
    margin-top: 50px;
}
.card{
    background-color: #ddd;
}
.card-footer{}
.card-footer ul{}
.card-footer ul li{
    list-style: none;
    margin: 20px 0 0;
}
.card-footer ul li a{
    font-size: 16px;
    margin: 0 5px;
    color: black;
}
.card-img-top{
    height: 260px;
}